body {
    
}

.center-text {
    text-align: center;
}
.center-list {
    display: inline-block;
    text-align: left;
}

h1 {
    color: red;
}

h2 {
    color: black;
}

h3 {
    color: rgba(255, 0, 0, 0.692);
}

h4 {
    color: black;
}
